body{
    font-family: 'Baloo 2', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.banner-area{
    width: 100%;
    height:100vh;
    background-image: url(images/donation.jpg.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
    padding-bottom: 200px;

    
    

}
.content-area{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.content{
    text-align: center;
    
}
.content h1{
    font-size: 50px;
    color:white;
}
.content p{
    font-size: 30px;
    color: #ddd;
}
.link-button{
    border: none;
    outline: none;
    padding: 15px;
    margin-top: 100px;
    border-radius: 4px;
    color: #ddd;
    font-size: 18px;
    background: tomato;
    text-align: center;
}
.fcontainer{
    box-shadow: #ddd;
    height: 45vh;
    display: flex;
    justify-content: center;

}
.fitem{
    background-color:whitesmoke;
    margin: 12px;
    width: 80px;
    height: 80px;
    text-align: center;
    text-shadow: #ddd;
    line-height: 80px;
    border-radius: 2px;
    font-size: medium;
    font-weight: 700;
    color: gray;

    
    

}
.section-2{
    text-align: center;
    margin-bottom: 100px;
}
.tk{
    border: 2px solid rgb(177, 13, 13);
    background-color: pink;
    color: red;

}
.other{
    text-align: center;
    color: grey;
    font-size: small;
    font-weight: 100;
    margin-top: 0;
}
hr{
    width:50%;
    text-align: center;
    color: grey;
    justify-content: center;
    margin-left: 200px;
}
.card-1{
    width: 350px;
    height: 250px;
    border: 1px solid grey;
    text-align: center;
    box-shadow: 8px 8px 16px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 40px;
    background-color: rgb(206, 243, 243);
    
}
.card-2{
    width: 350px;
    height: 250px;
    border: 1px solid grey;
    text-align: center;
    box-shadow: 8px 8px 16px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 40px;
    background-color: rgb(243, 229, 231);
}
.card-3{
    width: 350px;
    height: 250px;
    border: 1px solid grey;
    text-align: center;
    box-shadow: 8px 8px 16px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 40px;
    background-color: rgb(242, 220, 192);
}
.section-3{
    margin-top: 70px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    

}
.section-3-header{
    text-align: center;
    margin-top: 50px;
}